<tr id="maraude">
  <td>
    <%= maraude.date.strftime("%d/%m/%y") %>
  </td>
  <td>
    <pre class="maraude-list"><%= maraude.rencontres %></pre>
  </td>
  <td>
    <pre class="maraude-list"><%= maraude.signalements %></pre>
  </td>
  <td>
    <pre class="maraude-list"><%= maraude.accompagnements %></pre>
  </td>
</tr>