<% provide(:title, 'Maraudes') %>

<h1>Index des maraudes</h1>

<%= will_paginate %>

<table class="maraudes table table-hover">
  <tr id="table_head">
    <%= render 'table_h' %>
  </tr>
  <% if !@maraudes.empty? %>
    <%= render @maraudes %>
  <% end %>
</table>

<%= will_paginate %>