<% provide(:title, 'Maraudes') %>

<% # Listes villes parcourues et usagers rencontrés avec détails %>
<% rencontres = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false) %>
<% m_cr = [] %>
<% rencontres.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_cr << "#{u.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.enfants.any? %>
    <% m_cr.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
  <% if r.signalement %>
    <% m_cr.last << " [#{r.signalement}]" %>
  <% end %>
  <% if r.dnv %>
    <% m_cr.last << " [Maraude déplacée mais personne non vue]" %>
  <% end %>
  <% if r.prestas && !r.prestas.empty? %>
    <% m_cr.last << " {#{r.prestas.split(' #').join(' - ')}}" %>
  <% end %>
  <% m_cr.last << " : #{r.details}" %>
<% end %>
<% arr = m_cr.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp = "COMPTE-RENDU DE MARAUDE\n" %>
<% disp << "#{@maraude.type_maraude} [#{@maraude.date.strftime("%d/%m/%y")}]\n\n\n" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n\n" %>
<% end %>


<h1>
  <%= @maraude.type_maraude %> [<%= @maraude.date.strftime("%d/%m/%y") %>]
  <br><%= button_to "Supprimer la maraude", @maraude,
                                            method: :delete,
                                            data: { confirm: "Etes-vous sûr(e) ? Cette maraude ne sera pas récupérable." },
                                            class: "btn btn-danger btn-lg" %>
</h1>

<h3>Compte-rendu</h3>

<pre class="pre-scrollable"><%= disp %></pre>