<li class="lead">
  <%= "#{user.nom} #{user.prenom}" %>
  <% if user.benev? %>
    Bénévole<br>
  <% else %>
    Salarié<br>
  <% end %>
  <% if user.admin? %>
  	Administrateur<br>
  <% end %>
  <%= link_to user.identifiant, user %>
</li>