<% provide(:title, 'Utilisateurs') %>
<h1>
	Utilisateurs du PQI
	<% if current_user.admin? %>
 		<br><%= link_to "Nouvel utilisateur", signup_path, class: "btn btn-info" %>
	<% end %>
</h1>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>