<% provide(:title, @user.nom) %>

<h1>
  <% if !current_user.admin? && current_user?(@user) %>
    <%= link_to "#{@user.identifiant} (#{@user.nom.upcase} #{@user.prenom})",
                edit_user_path(@user),
                class: "btn btn-lg btn-info",
                'data-toggle' => "tooltip",
                'data-placement' => "bottom",
                title: "Editer" %>
  <% elsif current_user.admin? %>
    <%= link_to "#{@user.identifiant} (#{@user.nom.upcase} #{@user.prenom})",
                edit_user_path(@user),
                class: "btn btn-lg btn-info",
                'data-toggle' => "tooltip",
                'data-placement' => "bottom",
                title: "Editer" %>
  <% else %>
    <%= "#{@user.identifiant} (#{@user.nom.upcase} #{@user.prenom})" %>
  <% end %>
  <br>
  <small>
    <% if @user.benev? %>
      <br>Bénévole
    <% else %>
      <br>Salarié
    <% end %>
    <% if @user.admin? %>
      <br>Administrateur
    <% end %>
  </small>
</h1>

<% if current_user.admin? && !current_user?(@user) %>
  <div class="text-right">
    <%= link_to "Supprimer l'utilisateur",  @user,
                              method: :delete,
                              data: { confirm: "Etes-vous sûr(e) ?" },
                              class: "btn btn-danger" %>
  </div>
<% end %>