<% provide(:title, "Fiche de rencontres") %>

<h1><%= "Fiche de rencontres de #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %></h1>

<%= simple_form_for(@usager) do |f| %>

  <%= f.text_area :fiche, class: 'form-control', rows: "20" %>

  <div class="submit-btn text-center">
  	<%= f.submit "Valider la fiche", class: "btn btn-primary" %>
  </div>

<% end %>