<% provide(:title, "Fiche de suivi jour") %>

<h1><%= "Fiche de suivi jour de #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %></h1>

<%= simple_form_for(@usager) do |f| %>

  <%= f.text_area :fiche_jour, class: 'form-control', rows: "20" %>

  <%= f.submit "Valider la fiche", class: "btn btn-primary" %>

<% end %>