<% provide(:title, 'Nouvel usager') %>
<h1>Nouvel usager</h1>

<h3 class="text-center"><%= link_to "Ajout d'un inconnu", new_inconnu_path %><h3>

<h4>
  On renseignera au moins le nom ou le prénom de l'usager, ainsi que sa ville et son sexe.<br>
  Sinon, choisir "Ajout d'un inconnu".<br>
  Date de naissance : utiliser le bouton "calendrier"
</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <%= render 'form' %>
  </div>
</div>