<% provide(:title, "Listes") %>

<h1>Modifier les listes des menus de sélection</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= render 'form' %>
  </div>
</div>

<hr>

<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
		<% if @choix == "Intervenants" %>
			<h3 class="text-center">Liste des intervenants</h3>
			<ul style="list-style: none">
				<% @intervs.each do |i| %>
					<li><div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6 text-center lead"><%= i.nom %></div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-center">
							<%= link_to "Retirer", 	interv_destroy_path(id: i.id),
																			method: :delete,
																			data: { confirm: "Etes-vous sûr(e) ?" },
																			class: "btn btn-danger" %>
						</div>
					</div></li>
					<hr>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>