<script>
var val_stock = ""
var val = ""

$(document).ready(function(){
    $("#submit").mouseenter(function(){
        val = $("#rencontre_date").val();
        if (val_stock != val) {
            val_stock = val;
            if (gon.renc.indexOf(val) > -1) {
                alert("Etes-vous sûr(e) ? Cette personne a déjà été rencontrée le " + val + ". S'il s'agit d'une simple édition de rencontre dont on n'a pas changé la date, ne pas prendre ce message en compte.");
            };
        };
    });
});
</script>

<% provide(:title, "#{@rencontre.type_renc} prévue") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= render 'form_for_edit' %>
  </div>
</div>