<script>
var val_stock = ""
var val = ""
var val_affiche = ""

$(document).ready(function(){
    $("#submit").mouseenter(function(){
        val = $("#rencontre_date").val();
        val_affiche = val.slice(8,10) + '/' + val.slice(5,7) + '/' + val.slice(2,4);
        if (val_stock != val) {
            val_stock = val;
            if (gon.renc.indexOf(val) > -1) {
                alert("Etes-vous sûr(e) ? Cette personne a déjà été rencontrée le " + val_affiche + ".");
            };
        };
    });
});
</script>

<% provide(:title, "Rencontre avec #{@usager.sexe} #{@usager.nom} #{@usager.prenom}") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= render 'form' %>
  </div>
</div>